<div class=" col-xs-12 "> 
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th class="text-center" style="width: 100px">
                    Counts
                </th>
                <th style="width: 42px" class="text-center">
                    Level
                </th>
                <th>
                    Title
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="log in logs track by $index">
                <td style="text-align: center; width: 100px" >
                    <span class="badge item-count {{getByField(cssClass,'key',log._id.level).value}}">{{log.total}}</span>
                </td>
                <td style="width: 42px" class="text-center">
                    <span style="text-align: right; display: inline; overflow: visible;" class="{{log._id.level}} logger ellipsis"></span>
                </td>
                <td><a href="javascript:void(0);" ng-click="openDialog(log)" >{{log._id.title}}</a></td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-xs-6">
        </div>
        <div class="col-xs-6">
            <!--pagination-->
            <img src="/images/ajax-loading.gif"
                 ng-show="isFinding"
                 alt="loading"
                 style="height: 32px; float: right"/>
            <%- include('../common/paginator')%>
        </div>
    </div>
</div>