/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 2, 2016, 3:40:27 PM
    Author     : Manh Ha Hoang
*/

@font-face {
    font-family: EntypoRegular;
    src: url ('../fonts/entypo/entypo-webfont.eot');
    src: url(../fonts/entypo/entypo-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/entypo/entypo-webfont.woff) format('woff'), url(../fonts/entypo/entypo-webfont.ttf) format('truetype'), url(../fonts/entypo/entypo-webfont.svg#EntypoRegular) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: frameworks;
    src: url(../fonts/entypo/frameworks.eot);
    src: url(../fonts/entypo/frameworks.eot?#iefix) format('embedded-opentype'), url(../fonts/entypo/frameworks.woff) format('woff'), url(../fonts/entypo/frameworks.ttf) format('truetype'), url(../fonts/entypo/frameworks.svg#EntypoRegular) format('svg');
    font-weight: 400;
    font-style: normal
}

.framework:before {
    font-family: frameworks;
    font-style: normal;
    font-size: 18px;
    speak: none;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased
}

.framework-small:before {
    font-size: 13px
}

.django:before,
.python:before {
    content: "\e000"
}

.pyramid_final:before {
    content: "\e001"
}

.pylon_final:before {
    content: "\e002"
}

.php2:before {
    content: "\e003";
    color: #6363ab
}

.nodesjs:before {
    content: "\e004";
    color: #7dc31b
}

.ios:before {
    content: "\e005"
}

.HTML5_2:before {
    content: "\e006";
    color: #d9380e
}

.heroku-2:before {
    content: "\e007"
}

.heroku:before {
    content: "\e008"
}

.google:before {
    content: "\e009"
}

.android:before {
    content: "\e00a";
    color: #95c100
}

.actionscript:before {
    content: "\e00b"
}

.rails:before,
.ruby:before {
    content: "\e00c";
    color: #ad0800
}

.lock:before {
    font-family: EntypoRegular;
    font-size: 34px;
    content: "\01F512"
}

[class*=" logger-"],
[class^=logger-] {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url(../img/glyphicons-halflings.png);
    background-position: 14px 14px;
    background-repeat: no-repeat
}

.logger-white {
    background-image: url(../img/glyphicons-halflings-white.png)
}

.logger-glass {
    background-position: 0 0
}

.logger-music {
    background-position: -24px 0
}

.logger-search {
    background-position: -48px 0
}

.logger-envelope {
    background-position: -72px 0
}

.logger-heart {
    background-position: -96px 0
}

.logger-star {
    background-position: -120px 0
}

.logger-star-empty {
    background-position: -144px 0
}

.logger-user {
    background-position: -168px 0
}

.logger-film {
    background-position: -192px 0
}

.logger-th-large {
    background-position: -216px 0
}

.logger-th {
    background-position: -240px 0
}

.logger-th-list {
    background-position: -264px 0
}

.logger-ok {
    background-position: -288px 0
}

.logger-remove {
    background-position: -312px 0
}

.logger-zoom-in {
    background-position: -336px 0
}

.logger-zoom-out {
    background-position: -360px 0
}

.logger-off {
    background-position: -384px 0
}

.logger-signal {
    background-position: -408px 0
}

.logger-cog {
    background-position: -432px 0
}

.logger-trash {
    background-position: -456px 0
}

.logger-home {
    background-position: 0 -24px
}

.logger-file {
    background-position: -24px -24px
}

.logger-time {
    background-position: -48px -24px
}

.logger-road {
    background-position: -72px -24px
}

.logger-download-alt {
    background-position: -96px -24px
}

.logger-download {
    background-position: -120px -24px
}

.logger-upload {
    background-position: -144px -24px
}

.logger-inbox {
    background-position: -168px -24px
}

.logger-play-circle {
    background-position: -192px -24px
}

.logger-repeat {
    background-position: -216px -24px
}

.logger-refresh {
    background-position: -240px -24px
}

.logger-list-alt {
    background-position: -264px -24px
}

.logger-lock {
    background-position: -287px -24px
}

.logger-flag {
    background-position: -312px -24px
}

.logger-headphones {
    background-position: -336px -24px
}

.logger-volume-off {
    background-position: -360px -24px
}

.logger-volume-down {
    background-position: -384px -24px
}

.logger-volume-up {
    background-position: -408px -24px
}

.logger-qrcode {
    background-position: -432px -24px
}

.logger-barcode {
    background-position: -456px -24px
}

.logger-tag {
    background-position: 0 -48px
}

.logger-tags {
    background-position: -25px -48px
}

.logger-book {
    background-position: -48px -48px
}

.logger-bookmark {
    background-position: -72px -48px
}

.logger-print {
    background-position: -96px -48px
}

.logger-camera {
    background-position: -120px -48px
}

.logger-font {
    background-position: -144px -48px
}

.logger-bold {
    background-position: -167px -48px
}

.logger-italic {
    background-position: -192px -48px
}

.logger-text-height {
    background-position: -216px -48px
}

.logger-text-width {
    background-position: -240px -48px
}

.logger-align-left {
    background-position: -264px -48px
}

.logger-align-center {
    background-position: -288px -48px
}

.logger-align-right {
    background-position: -312px -48px
}

.logger-align-justify {
    background-position: -336px -48px
}

.logger-list {
    background-position: -360px -48px
}

.logger-indent-left {
    background-position: -384px -48px
}

.logger-indent-right {
    background-position: -408px -48px
}

.logger-facetime-video {
    background-position: -432px -48px
}

.logger-picture {
    background-position: -456px -48px
}

.logger-pencil {
    background-position: 0 -72px
}

.logger-map-marker {
    background-position: -24px -72px
}

.logger-adjust {
    background-position: -48px -72px
}

.logger-tint {
    background-position: -72px -72px
}

.logger-edit {
    background-position: -96px -72px
}

.logger-share {
    background-position: -120px -72px
}

.logger-check {
    background-position: -144px -72px
}

.logger-move {
    background-position: -168px -72px
}

.logger-step-backward {
    background-position: -192px -72px
}

.logger-fast-backward {
    background-position: -216px -72px
}

.logger-backward {
    background-position: -240px -72px
}

.logger-play {
    background-position: -264px -72px
}

.logger-pause {
    background-position: -288px -72px
}

.logger-stop {
    background-position: -312px -72px
}

.logger-forward {
    background-position: -336px -72px
}

.logger-fast-forward {
    background-position: -360px -72px
}

.logger-step-forward {
    background-position: -384px -72px
}

.logger-eject {
    background-position: -408px -72px
}

.logger-chevron-left {
    background-position: -432px -72px
}

.logger-chevron-right {
    background-position: -456px -72px
}

.logger-plus-sign {
    background-position: 0 -96px
}

.logger-minus-sign {
    background-position: -24px -96px
}

.logger-remove-sign {
    background-position: -48px -96px
}

.logger-ok-sign {
    background-position: -72px -96px
}

.logger-question-sign {
    background-position: -96px -96px
}

.logger-info-sign {
    background-position: -120px -96px
}

.logger-screenshot {
    background-position: -144px -96px
}

.logger-remove-circle {
    background-position: -168px -96px
}

.logger-ok-circle {
    background-position: -192px -96px
}

.logger-ban-circle {
    background-position: -216px -96px
}

.logger-arrow-left {
    background-position: -240px -96px
}

.logger-arrow-right {
    background-position: -264px -96px
}

.logger-arrow-up {
    background-position: -289px -96px
}

.logger-arrow-down {
    background-position: -312px -96px
}

.logger-share-alt {
    background-position: -336px -96px
}

.logger-resize-full {
    background-position: -360px -96px
}

.logger-resize-small {
    background-position: -384px -96px
}

.logger-plus {
    background-position: -408px -96px
}

.logger-minus {
    background-position: -433px -96px
}

.logger-asterisk {
    background-position: -456px -96px
}

.logger-exclamation-sign {
    background-position: 0 -120px
}

.logger-gift {
    background-position: -24px -120px
}

.logger-leaf {
    background-position: -48px -120px
}

.logger-fire {
    background-position: -72px -120px
}

.logger-eye-open {
    background-position: -96px -120px
}

.logger-eye-close {
    background-position: -120px -120px
}

.logger-warning-sign {
    background-position: -144px -120px
}

.logger-plane {
    background-position: -168px -120px
}

.logger-calendar {
    background-position: -192px -120px
}

.logger-random {
    background-position: -216px -120px
}

.logger-comment {
    background-position: -240px -120px
}

.logger-magnet {
    background-position: -264px -120px
}

.logger-chevron-up {
    background-position: -288px -120px
}

.logger-chevron-down {
    background-position: -313px -119px
}

.logger-retweet {
    background-position: -336px -120px
}

.logger-shopping-cart {
    background-position: -360px -120px
}

.logger-folder-close {
    background-position: -384px -120px
}

.logger-folder-open {
    background-position: -408px -120px
}

.logger-resize-vertical {
    background-position: -432px -119px
}

.logger-resize-horizontal {
    background-position: -456px -118px
}

.logger-hdd {
    background-position: 0 -144px
}

.logger-bullhorn {
    background-position: -24px -144px
}

.logger-bell {
    background-position: -48px -144px
}

.logger-certificate {
    background-position: -72px -144px
}

.logger-thumbs-up {
    background-position: -96px -144px
}

.logger-thumbs-down {
    background-position: -120px -144px
}

.logger-hand-right {
    background-position: -144px -144px
}

.logger-hand-left {
    background-position: -168px -144px
}

.logger-hand-up {
    background-position: -192px -144px
}

.logger-hand-down {
    background-position: -216px -144px
}

.logger-circle-arrow-right {
    background-position: -240px -144px
}

.logger-circle-arrow-left {
    background-position: -264px -144px
}

.logger-circle-arrow-up {
    background-position: -288px -144px
}

.logger-circle-arrow-down {
    background-position: -312px -144px
}

.logger-globe {
    background-position: -336px -144px
}

.logger-wrench {
    background-position: -360px -144px
}

.logger-tasks {
    background-position: -384px -144px
}

.logger-filter {
    background-position: -408px -144px
}

.logger-briefcase {
    background-position: -432px -144px
}

.logger-fullscreen {
    background-position: -456px -144px
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -moz-binding: url(/css/ellipsis.xml#ellipsis);
    display: inline-block
}

.site-status {
    background-color: #fcf8e3;
    color: #c09853
}

.site-notification .container,
.site-status .container {
    padding: 6px 0
}

.site-notification.warning {
    background-color: #fcf8e3;
    color: #c09853
}

.site-notification.info {
    background-color: #d9edf7;
    color: #3a87ad
}

.site-notification.success {
    background-color: #dff0d8;
    color: #468847
}

.site-notification.error {
    background-color: #f2dede;
    color: #b94a48
}


.no-data {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    border: 1px solid rgba(0, 0, 0, .05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    text-align: center;
    margin-top: 10px
}

.no-data blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, .15)
}

#item-list .no-data {
    font-size: larger
}


.logger:before {
    font-family: EntypoRegular;
    font-size: 36px;
    margin-right: 1px;
    margin-left: 1px;
    vertical-align: -4px;
    text-decoration: none;
    display: inline-block;
    zoom: 1;
    line-height: 0em;
    min-height: 20px;
}

.logger {
    padding-left: 1px;
}

logger.aria {
    text-indent: -9999px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    min-width: 16px
}

logger.aria:before {
    position: absolute;
    left: 0;
    top: 0;
    text-indent: 0
}

.critical.logger:before {
    content: "\01F4A5";
    color: #ED1C24
}


.error.logger:before {
    content: "\02716";
    color: #f4622b
}


.warning.logger:before {
    content: "\026A0";
    color: #FAA732
}

.info.logger:before {
    content: "\0E705";
    color: #49AFCD
}

.debug.logger:before {
    content: "\0E704";
    color: #C5C5C5
}

.dialog.logger:before {
    content: "\0E720";
    color: #CFCFCF
}

.stoplight.red.logger:before {
    content: "\025CF";
    color: red
}

.stoplight.green.logger:before {
    content: "\025CF";
    color: green
}

.stoplight.yellow.logger:before {
    content: "\025CF";
    color: #ff0
}

.stoplight.neongreen.logger:before {
    content: "\025CF";
    color: #6cc644
}

.django:before,
.python:before {
    content: "\e000"
}

.pyramid_final:before {
    content: "\e001"
}

.pylon_final:before {
    content: "\e002"
}

.php2:before {
    content: "\e003";
    color: #6363ab
}

.nodesjs:before {
    content: "\e004";
    color: #7dc31b
}

.ios:before {
    content: "\e005"
}

.HTML5_2:before {
    content: "\e006";
    color: #d9380e
}

.heroku-2:before {
    content: "\e007"
}

.heroku:before {
    content: "\e008"
}

.google:before {
    content: "\e009"
}

.android:before {
    content: "\e00a";
    color: #95c100
}

.actionscript:before {
    content: "\e00b"
}

.rails:before,
.ruby:before {
    content: "\e00c";
    color: #ad0800
}

.lock:before {
    font-family: EntypoRegular;
    font-size: 34px;
    content: "\01F512"
}

.framework_image_before {
    background-size: 13px;
    background-position-y: 0;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 13px;
    width: 16px
}