<footer class="footer">
    <div style="text-align:center;" class="container">
        <div>
            <strong>Email:</strong> support@rollbar.com
            ·
            <strong>IRC:</strong> #rollbar on <a target="_blank" href="#">freenode</a>
            ·
            <strong>Phone:</strong> 1.888.568.3350
        </div>
        <div>
            <a href="#/about/">About Us</a>
            ·
            <a href="#">Jobs</a>
            ·
            <a href="#/blog/">Blog</a>
            ·
            <a href="#">Changelog</a>
            ·
            <a href="#/docs/">Docs</a>
            ·
            <a href="#/">Service Status</a>
        </div>
        <div>
            <a href="#/">Terms of Service</a>
            ·
            <a href="#/">Privacy</a>
            ·
            <a href="#">Responsible Disclosure</a>
        </div>
        <div>
            &copy; 2012-16 MEGAADS.VN 
        </div>
    </div>
</footer>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Title popup</h4>
            </div>
            <div class="modal-body">
                <table class="table table-user-information table-logger" role="react" style="margin-bottom: -1px;">
                    <thead>
                        <tr role="tbl-header">
                            <th style="width: 200px">
                                Title
                            </th>
                            <th style="width: 200px">
                                Meta
                                </td>
                            <th style="width: 80px">
                                Time
                            </th>
                            <th style="width: 195px">
                                Data
                            </th>
                            <th  style="width: 35px">
                                Level
                            </th>
                            <th style="width: 60px">
                                Language
                            </th>
                        </tr>
                    </thead>
                </table>
                <div class="jscroll">
                    <table class="table table-user-information table-logger" role="react">
                        <tbody>
                            <tr data-item-id="1">
                                <td class="col-xs-2">
                                    NameError: undefined local variable or method `this_variable_has_not_been_set'
                                </td>
                                <td class="col-xs-3">
                                    <textarea class="form-control" rows="3">{"message":"{\"modified_user\":\"huyentrang\",\"product_code\":\"P002934\",\"product_name\":\"\",\"number_of_change\":6,\"update_info\":[{\"fields\":\"update_time\",\"old_value\":null,\"new_value\":{\"date\":\"2016-07-25 14:55:14.000000\",\"timezone_type\":3,\"timezone\":\"Asia\\/Ho_Chi_Minh\"}},{\"fields\":\"search\",\"old_value\":\"chan-luoi-cho-be-chan-luoi-cho-be-mom-s-choice-size-l-160-x-200cm-mom-s-choice\",\"new_value\":\"p002934-chan-luoi-cho-be-mom-s-choice-size-l-160-x-200cm-chan-luoi-cho-be-chan-luoi-cho-be-mom-s-choice-size-l-160-x-200cm-mom-s-choice\"},{\"fields\":\"name\",\"old_value\":\"\",\"new_value\":\"Ch\\u0103n l\\u01b0\\u1edbi cho b\\u00e9 Mom\\u2019s Choice size L 160 x 200cm\"},{\"fields\":\"modifier_id\",\"old_value\":null,\"new_value\":\"5624\"},{\"fields\":\"modifier_username\",\"old_value\":null,\"new_value\":\"huyentrang\"},{\"fields\":\"modifier_full_name\",\"old_value\":null,\"new_value\":\"Nguy\\u1ec5n Thi Huy\\u1ec1n Trang\"}]}","context":[],"level":200,"level_name":"INFO","channel":"production","datetime":{"date":"2016-07-25 14:55:14.119480","timezone_type":3,"timezone":"Asia/Ho_Chi_Minh"},"extra":[],"timestamp":"2016-07-25T14:55:14.119480+0700"}</textarea>
                                </td>
                                <td>
                                    06/10/11 15:24:16
                                </td>
                                <td class="col-xs-3">
                                    <textarea class="form-control" rows="3">{"message":"{\"modified_user\":\"huyentrang\",\"product_code\":\"P002934\",\"product_name\":\"\",\"number_of_change\":6,\"update_info\":[{\"fields\":\"update_time\",\"old_value\":null,\"new_value\":{\"date\":\"2016-07-25 14:55:14.000000\",\"timezone_type\":3,\"timezone\":\"Asia\\/Ho_Chi_Minh\"}},{\"fields\":\"search\",\"old_value\":\"chan-luoi-cho-be-chan-luoi-cho-be-mom-s-choice-size-l-160-x-200cm-mom-s-choice\",\"new_value\":\"p002934-chan-luoi-cho-be-mom-s-choice-size-l-160-x-200cm-chan-luoi-cho-be-chan-luoi-cho-be-mom-s-choice-size-l-160-x-200cm-mom-s-choice\"},{\"fields\":\"name\",\"old_value\":\"\",\"new_value\":\"Ch\\u0103n l\\u01b0\\u1edbi cho b\\u00e9 Mom\\u2019s Choice size L 160 x 200cm\"},{\"fields\":\"modifier_id\",\"old_value\":null,\"new_value\":\"5624\"},{\"fields\":\"modifier_username\",\"old_value\":null,\"new_value\":\"huyentrang\"},{\"fields\":\"modifier_full_name\",\"old_value\":null,\"new_value\":\"Nguy\\u1ec5n Thi Huy\\u1ec1n Trang\"}]}","context":[],"level":200,"level_name":"INFO","channel":"production","datetime":{"date":"2016-07-25 14:55:14.119480","timezone_type":3,"timezone":"Asia/Ho_Chi_Minh"},"extra":[],"timestamp":"2016-07-25T14:55:14.119480+0700"}</textarea>
                                </td>
                                <td style="width: 35px">
                                    <span class="error logger ellipsis dashboard-item-title"></span>
                                </td>
                                <td style="width: 60px">
                                    Zimbabwe
                                </td>
                            </tr>
                            <tr data-item-id="2">
                                <td class="col-xs-2">
                                    NameError: undefined local variable or method `this_variable_has_not_been_set'
                                </td>
                                <td class="col-xs-3">
                                    <textarea class="form-control" rows="3">{"message":"{\"modified_user\":\"huyentrang\",\"product_code\":\"P002934\",\"product_name\":\"\",\"number_of_change\":6,\"update_info\":[{\"fields\":\"update_time\",\"old_value\":null,\"new_value\":{\"date\":\"2016-07-25 14:55:14.000000\",\"timezone_type\":3,\"timezone\":\"Asia\\/Ho_Chi_Minh\"}},{\"fields\":\"search\",\"old_value\":\"chan-luoi-cho-be-chan-luoi-cho-be-mom-s-choice-size-l-160-x-200cm-mom-s-choice\",\"new_value\":\"p002934-chan-luoi-cho-be-mom-s-choice-size-l-160-x-200cm-chan-luoi-cho-be-chan-luoi-cho-be-mom-s-choice-size-l-160-x-200cm-mom-s-choice\"},{\"fields\":\"name\",\"old_value\":\"\",\"new_value\":\"Ch\\u0103n l\\u01b0\\u1edbi cho b\\u00e9 Mom\\u2019s Choice size L 160 x 200cm\"},{\"fields\":\"modifier_id\",\"old_value\":null,\"new_value\":\"5624\"},{\"fields\":\"modifier_username\",\"old_value\":null,\"new_value\":\"huyentrang\"},{\"fields\":\"modifier_full_name\",\"old_value\":null,\"new_value\":\"Nguy\\u1ec5n Thi Huy\\u1ec1n Trang\"}]}","context":[],"level":200,"level_name":"INFO","channel":"production","datetime":{"date":"2016-07-25 14:55:14.119480","timezone_type":3,"timezone":"Asia/Ho_Chi_Minh"},"extra":[],"timestamp":"2016-07-25T14:55:14.119480+0700"}</textarea>
                                </td>
                                <td>
                                    06/10/11 15:24:16
                                </td>
                                <td class="col-xs-3">
                                    <textarea class="form-control" rows="3">{"message":"{\"modified_user\":\"huyentrang\",\"product_code\":\"P002934\",\"product_name\":\"\",\"number_of_change\":6,\"update_info\":[{\"fields\":\"update_time\",\"old_value\":null,\"new_value\":{\"date\":\"2016-07-25 14:55:14.000000\",\"timezone_type\":3,\"timezone\":\"Asia\\/Ho_Chi_Minh\"}},{\"fields\":\"search\",\"old_value\":\"chan-luoi-cho-be-chan-luoi-cho-be-mom-s-choice-size-l-160-x-200cm-mom-s-choice\",\"new_value\":\"p002934-chan-luoi-cho-be-mom-s-choice-size-l-160-x-200cm-chan-luoi-cho-be-chan-luoi-cho-be-mom-s-choice-size-l-160-x-200cm-mom-s-choice\"},{\"fields\":\"name\",\"old_value\":\"\",\"new_value\":\"Ch\\u0103n l\\u01b0\\u1edbi cho b\\u00e9 Mom\\u2019s Choice size L 160 x 200cm\"},{\"fields\":\"modifier_id\",\"old_value\":null,\"new_value\":\"5624\"},{\"fields\":\"modifier_username\",\"old_value\":null,\"new_value\":\"huyentrang\"},{\"fields\":\"modifier_full_name\",\"old_value\":null,\"new_value\":\"Nguy\\u1ec5n Thi Huy\\u1ec1n Trang\"}]}","context":[],"level":200,"level_name":"INFO","channel":"production","datetime":{"date":"2016-07-25 14:55:14.119480","timezone_type":3,"timezone":"Asia/Ho_Chi_Minh"},"extra":[],"timestamp":"2016-07-25T14:55:14.119480+0700"}</textarea>
                                </td>
                                <td>
                                    <span class="error logger ellipsis dashboard-item-title"></span>
                                </td>
                                <td style="width: 60px">
                                    Zimbabwe
                                </td>
                            </tr>
                            <tr data-item-id="3">
                                <td class="col-xs-2">
                                    NameError: undefined local variable or method `this_variable_has_not_been_set'
                                </td>
                                <td class="col-xs-3">
                                    <textarea class="form-control" rows="3">{"message":"{\"modified_user\":\"huyentrang\",\"product_code\":\"P002934\",\"product_name\":\"\",\"number_of_change\":6,\"update_info\":[{\"fields\":\"update_time\",\"old_value\":null,\"new_value\":{\"date\":\"2016-07-25 14:55:14.000000\",\"timezone_type\":3,\"timezone\":\"Asia\\/Ho_Chi_Minh\"}},{\"fields\":\"search\",\"old_value\":\"chan-luoi-cho-be-chan-luoi-cho-be-mom-s-choice-size-l-160-x-200cm-mom-s-choice\",\"new_value\":\"p002934-chan-luoi-cho-be-mom-s-choice-size-l-160-x-200cm-chan-luoi-cho-be-chan-luoi-cho-be-mom-s-choice-size-l-160-x-200cm-mom-s-choice\"},{\"fields\":\"name\",\"old_value\":\"\",\"new_value\":\"Ch\\u0103n l\\u01b0\\u1edbi cho b\\u00e9 Mom\\u2019s Choice size L 160 x 200cm\"},{\"fields\":\"modifier_id\",\"old_value\":null,\"new_value\":\"5624\"},{\"fields\":\"modifier_username\",\"old_value\":null,\"new_value\":\"huyentrang\"},{\"fields\":\"modifier_full_name\",\"old_value\":null,\"new_value\":\"Nguy\\u1ec5n Thi Huy\\u1ec1n Trang\"}]}","context":[],"level":200,"level_name":"INFO","channel":"production","datetime":{"date":"2016-07-25 14:55:14.119480","timezone_type":3,"timezone":"Asia/Ho_Chi_Minh"},"extra":[],"timestamp":"2016-07-25T14:55:14.119480+0700"}</textarea>
                                </td>
                                <td>
                                    06/10/11 15:24:16
                                </td>
                                <td class="col-xs-3">
                                    <textarea class="form-control" rows="3">{"message":"{\"modified_user\":\"huyentrang\",\"product_code\":\"P002934\",\"product_name\":\"\",\"number_of_change\":6,\"update_info\":[{\"fields\":\"update_time\",\"old_value\":null,\"new_value\":{\"date\":\"2016-07-25 14:55:14.000000\",\"timezone_type\":3,\"timezone\":\"Asia\\/Ho_Chi_Minh\"}},{\"fields\":\"search\",\"old_value\":\"chan-luoi-cho-be-chan-luoi-cho-be-mom-s-choice-size-l-160-x-200cm-mom-s-choice\",\"new_value\":\"p002934-chan-luoi-cho-be-mom-s-choice-size-l-160-x-200cm-chan-luoi-cho-be-chan-luoi-cho-be-mom-s-choice-size-l-160-x-200cm-mom-s-choice\"},{\"fields\":\"name\",\"old_value\":\"\",\"new_value\":\"Ch\\u0103n l\\u01b0\\u1edbi cho b\\u00e9 Mom\\u2019s Choice size L 160 x 200cm\"},{\"fields\":\"modifier_id\",\"old_value\":null,\"new_value\":\"5624\"},{\"fields\":\"modifier_username\",\"old_value\":null,\"new_value\":\"huyentrang\"},{\"fields\":\"modifier_full_name\",\"old_value\":null,\"new_value\":\"Nguy\\u1ec5n Thi Huy\\u1ec1n Trang\"}]}","context":[],"level":200,"level_name":"INFO","channel":"production","datetime":{"date":"2016-07-25 14:55:14.119480","timezone_type":3,"timezone":"Asia/Ho_Chi_Minh"},"extra":[],"timestamp":"2016-07-25T14:55:14.119480+0700"}</textarea>
                                </td>
                                <td>
                                    <span class="error logger ellipsis dashboard-item-title"></span>
                                </td>
                                <td>
                                    Zimbabwe
                                </td>
                            </tr>
                            <tr data-item-id="4">
                                <td class="col-xs-2">
                                    NameError: undefined local variable or method `this_variable_has_not_been_set'
                                </td>
                                <td class="col-xs-3">
                                    <textarea class="form-control" rows="3">{"message":"{\"modified_user\":\"huyentrang\",\"product_code\":\"P002934\",\"product_name\":\"\",\"number_of_change\":6,\"update_info\":[{\"fields\":\"update_time\",\"old_value\":null,\"new_value\":{\"date\":\"2016-07-25 14:55:14.000000\",\"timezone_type\":3,\"timezone\":\"Asia\\/Ho_Chi_Minh\"}},{\"fields\":\"search\",\"old_value\":\"chan-luoi-cho-be-chan-luoi-cho-be-mom-s-choice-size-l-160-x-200cm-mom-s-choice\",\"new_value\":\"p002934-chan-luoi-cho-be-mom-s-choice-size-l-160-x-200cm-chan-luoi-cho-be-chan-luoi-cho-be-mom-s-choice-size-l-160-x-200cm-mom-s-choice\"},{\"fields\":\"name\",\"old_value\":\"\",\"new_value\":\"Ch\\u0103n l\\u01b0\\u1edbi cho b\\u00e9 Mom\\u2019s Choice size L 160 x 200cm\"},{\"fields\":\"modifier_id\",\"old_value\":null,\"new_value\":\"5624\"},{\"fields\":\"modifier_username\",\"old_value\":null,\"new_value\":\"huyentrang\"},{\"fields\":\"modifier_full_name\",\"old_value\":null,\"new_value\":\"Nguy\\u1ec5n Thi Huy\\u1ec1n Trang\"}]}","context":[],"level":200,"level_name":"INFO","channel":"production","datetime":{"date":"2016-07-25 14:55:14.119480","timezone_type":3,"timezone":"Asia/Ho_Chi_Minh"},"extra":[],"timestamp":"2016-07-25T14:55:14.119480+0700"}</textarea>
                                </td>
                                <td>
                                    06/10/11 15:24:16
                                </td>
                                <td class="col-xs-3">
                                    <textarea class="form-control" rows="3">{"message":"{\"modified_user\":\"huyentrang\",\"product_code\":\"P002934\",\"product_name\":\"\",\"number_of_change\":6,\"update_info\":[{\"fields\":\"update_time\",\"old_value\":null,\"new_value\":{\"date\":\"2016-07-25 14:55:14.000000\",\"timezone_type\":3,\"timezone\":\"Asia\\/Ho_Chi_Minh\"}},{\"fields\":\"search\",\"old_value\":\"chan-luoi-cho-be-chan-luoi-cho-be-mom-s-choice-size-l-160-x-200cm-mom-s-choice\",\"new_value\":\"p002934-chan-luoi-cho-be-mom-s-choice-size-l-160-x-200cm-chan-luoi-cho-be-chan-luoi-cho-be-mom-s-choice-size-l-160-x-200cm-mom-s-choice\"},{\"fields\":\"name\",\"old_value\":\"\",\"new_value\":\"Ch\\u0103n l\\u01b0\\u1edbi cho b\\u00e9 Mom\\u2019s Choice size L 160 x 200cm\"},{\"fields\":\"modifier_id\",\"old_value\":null,\"new_value\":\"5624\"},{\"fields\":\"modifier_username\",\"old_value\":null,\"new_value\":\"huyentrang\"},{\"fields\":\"modifier_full_name\",\"old_value\":null,\"new_value\":\"Nguy\\u1ec5n Thi Huy\\u1ec1n Trang\"}]}","context":[],"level":200,"level_name":"INFO","channel":"production","datetime":{"date":"2016-07-25 14:55:14.119480","timezone_type":3,"timezone":"Asia/Ho_Chi_Minh"},"extra":[],"timestamp":"2016-07-25T14:55:14.119480+0700"}</textarea>
                                </td>
                                <td>
                                    <span class="error logger ellipsis dashboard-item-title"></span>
                                </td>
                                <td>
                                    Zimbabwe
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-8">
                        <nav aria-label="Page navigation" role="pop-pagination">
                            <ul class="pagination">
                                <li class="disabled">
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-xs-4">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script src="/js/jquery-3.1.0.js" type="text/javascript"></script>-->
<script src="/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="/js/bootstrap.js" type="text/javascript"></script>
<script src="/js/jquery.nicescroll.min.js" type="text/javascript"></script>
<script src="/js/bootstrap-select.js" type="text/javascript"></script>
<script src="/js/moment.js" type="text/javascript"></script>
<script src="/js/script.js" type="text/javascript"></script>
<script src="/js/angular/angular.js" type="text/javascript"></script>
<script src="/js/angular/angular-bootstrap-select.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/jquery.ui.core.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.datepicker.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-timepicker-addon.js"></script>
<script src="/controller/system.js" type="text/javascript"></script>
<script src="/controller/base-controller.js" type="text/javascript"></script>