<footer class="footer">
    <div style="text-align:center;" class="container">
        <div>
            <strong>Email:</strong> support@rollbar.com
            ·
            <strong>IRC:</strong> #rollbar on <a target="_blank" href="#">freenode</a>
            ·
            <strong>Phone:</strong> 1.888.568.3350
        </div>
        <div>
            <a href="#/about/">About Us</a>
            ·
            <a href="#">Jobs</a>
            ·
            <a href="#/blog/">Blog</a>
            ·
            <a href="#">Changelog</a>
            ·
            <a href="#/docs/">Docs</a>
            ·
            <a href="#/">Service Status</a>
        </div>
        <div>
            <a href="#/">Terms of Service</a>
            ·
            <a href="#/">Privacy</a>
            ·
            <a href="#">Responsible Disclosure</a>
        </div>
        <div>
            &copy; 2012-16 MEGAADS.VN 
        </div>
    </div>
</footer>
<div id="logDetail" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Log Detail</h4>
            </div>
            <div class="modal-body">
                <table class="table table-user-information table-logger" role="react" style="margin-bottom: -1px;">
                    <thead>
                        <tr role="tbl-header">
                            <th style="width: 200px">
                                Title
                            </th>
                            <th style="width: 200px">
                                Meta
                                </td>
                            <th style="width: 80px">
                                Time
                            </th>
                            <th style="width: 195px">
                                Data
                            </th>
                            <th  style="width: 35px">
                                Level
                            </th>
                            <th style="width: 60px">
                                Language
                            </th>
                        </tr>
                    </thead>
                </table>
                <div class="jscroll">
                    <table class="table table-user-information table-logger" role="react">
                        <tbody>
                            <tr ng-repeat="log in dialog.logs">
                                <td class="col-xs-2">
                                    {{log.title}}
                                </td>
                                <td class="col-xs-3">
                                    <textarea class="form-control" rows="3">{{log.meta}}</textarea>
                                </td>
                                <td>
                                    {{formatDate(log.time)}}
                                </td>
                                <td class="col-xs-3">
                                    <textarea class="form-control" rows="3">{{log.data}}</textarea>
                                </td>
                                <td style="width: 35px">
                                    <span class="{{log.level}} logger ellipsis dashboard-item-title"></span>
                                </td>
                                <td style="width: 60px">
                                    {{log.meta.language}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-8">
                        <nav aria-label="Page navigation" role="pop-pagination">
                            <ul class="pagination" ng-show="dialog.pagesCount > 1" 
                                ng-init="steps = [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]">
                                <li class="{{step == 0 ? 'active' : ''}}" ng-repeat="step in steps" ng-click="$parent.dialog.filter.pageId = $parent.dialog.filter.pageId + step;
                                        $parent.getLogDetail()" ng-show="$parent.dialog.filter.pageId + step >= 0 && $parent.dialog.filter.pageId + step < $parent.dialog.pagesCount" >
                                    <a>
                                        <span aria-hidden="true">{{$parent.dialog.filter.pageId + step + 1}}</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-xs-4">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script src="/js/jquery-3.1.0.js" type="text/javascript"></script>-->
<script src="/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="/js/bootstrap.js" type="text/javascript"></script>
<script src="/js/jquery.nicescroll.min.js" type="text/javascript"></script>
<script src="/js/bootstrap-select.js" type="text/javascript"></script>
<script src="/js/moment.js" type="text/javascript"></script>
<script src="/js/script.js" type="text/javascript"></script>
<script src="/js/angular/angular.js" type="text/javascript"></script>
<script src="/js/angular/angular-bootstrap-select.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/jquery.ui.core.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.datepicker.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-timepicker-addon.js"></script>
<script src="/controller/system.js" type="text/javascript"></script>
<script src="/controller/base-controller.js" type="text/javascript"></script>