<footer class="footer">
    <div style="text-align:center;" class="container">
        <div>
            <strong>Email:</strong> info.megaads@gmail.com
            ·
            <strong>Phone:</strong> 090.344.6430
        </div>
        <div>
            &copy; 2012-16 MEGAADS.VN 
        </div>
    </div>
</footer>

<!--<script src="/js/jquery-3.1.0.js" type="text/javascript"></script>-->