<head>
    <title>Mega Loger 2017</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" type="text/css" href="/css/ui-lightness/jquery-ui-1.8.21.custom.css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/icon.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/bootstrap-select.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/jquery.jsonview.min.css" rel="stylesheet" type="text/css" media="all" />


    <script src="/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/js/bootstrap.js" type="text/javascript"></script>
    <script src="/js/jquery.nicescroll.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap-select.js" type="text/javascript"></script>
    <script src="/js/moment.js" type="text/javascript"></script>
    <script src="/js/script.js" type="text/javascript"></script>
    <script src="/js/angular/angular.js" type="text/javascript"></script>
    <script src="/js/angular/angular-bootstrap-select.js" type="text/javascript"></script>
    <script src="/js/jquery.ui.core.min.js"  type="text/javascript" ></script>
    <script src="/js/jquery.ui.datepicker.min.js"  type="text/javascript" ></script>
    <script src="/js/jquery-ui-timepicker-addon.js"  type="text/javascript" ></script>
    <script src="/js/jquery.jsonview.min.js"  type="text/javascript" ></script>
    <script src="/controller/system.js" type="text/javascript"></script>
    <script src="/controller/base-controller.js" type="text/javascript"></script>
</head>